body{
    background-image: url("https://alvarohsilva.github.io/Aula_0103/imagem/parnamirim/IF_par.jpeg") ;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
 }
